### The Spark Foundation - GRIPAPR21
#### DataScience & Business Analytics - Task1
##### by: Asit Kumar Dubey

-----------------------

##### Importing the libraries

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

###### importing the dataset

In [47]:
scores = pd.read_csv('student_scores.csv')

In [48]:
scores.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

dataset has two features: based on number of hours studied; marks scored is given.

In [49]:
scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

the dataset does not contains any null values

In [50]:
scores.shape

(25, 2)

In [51]:
# importing the model for fit and predict

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [52]:
X = scores.Hours
y = scores.Scores

In [53]:
print(X.shape)
print(y.shape)

(25,)
(25,)

In [54]:
xtrain = X[:20]
xtest = X[20:]

In [55]:
xtrain = pd.DataFrame(xtrain)
xtest = pd.DataFrame(xtest)

In [56]:
print(xtrain.shape)
print(xtest.shape)

(20, 1)
(5, 1)

In [57]:
xtrain.head()

   Hours
0    2.5
1    5.1
2    3.2
3    8.5
4    3.5

In [58]:
ytrain = y[:20]
ytest = y[20:]

In [59]:
print(ytrain.shape)
print(ytest.shape)

(20,)
(5,)

In [60]:
lr = LinearRegression()

lr.fit(xtrain,ytrain)

LinearRegression()

In [61]:
ypred = lr.predict(xtest)

In [62]:
from sklearn.metrics import r2_score, mean_squared_error
from math import sqrt

print(sqrt(mean_squared_error(ytest,ypred)))

5.931635159442733

In [63]:
final = pd.DataFrame({'test':list(ytest), 'predict': ypred})

In [64]:
final

   test    predict
0    30  28.736325
1    54  48.729136
2    35  39.208750
3    76  68.721947
4    86  77.290295

-----------------

based on the model prediction; if a student study for 9.25 hours, following is the marks scored by him.

In [65]:
hours = 9.25
final_predict = lr.predict([[9.25]])
final_predict
print("No of Hours = {}".format(hours))
print("Predicted Score = {}".format(final_predict[0]))

No of Hours = 9.25
Predicted Score = 91.09485441683265

-------------